// 定义全局的颜色

@primary-color: #0048ff;
@disabled-color: #00000040;
@white-color: #ffffff;
@danger-color: #ff4d4f;
@border-color: #f0f0f0;
@success-color: #52c41a;
@ordinary-color: #b9b9b9;
@grey-color: #f5f5f5;
@grey-color-1: #eeeeee;

@color-zero: #000000;
@color-three: #333333;
@color-six: #666666;
@color-nine: #999999;

@color-0: #000000;
@color-3: #333333;
@color-6: #666666;
@color-9: #999999;

@text-color: #61646d;

@border-color-1: #ededed;
@border-color-2: #d9d9d9;
@border-color-3: #f0f0f0;
@border-color-4: #f5f6f7;
@border-color-5: #e4e7ed;

@bg-color-1: #f5f7fb;
@bg-color-2: #f0f0ee;
@bg-color-3: #f8fafc;
@bg-color-4: #f2f3ff;
@bg-color-5: #f0f0f0;


