@import "../../styles/index.less";

.checkbox {
  display: inline-block;
  padding-right: 10px;
  > input[type="checkbox"] {
    position: absolute;
    left: -9999em;
    &:checked + .checkbox-icon {
      background-color: currentColor;
      border-color: currentColor;
      > i {
        transform: translate(-50%, -50%) rotate(45deg) scale(1);
        transition: all 0.2s ease-in-out;
      }
    }
    &:disabled ~ .checkbox-text {
      color: #ccc;
    }
    &:disabled + .checkbox-icon {
      border-color: #ccc;
      background-color: #f3f3f3;
      > i {
        border-color: #ccc;
      }
    }
  }
}

.checkbox-icon {
  border: 1px solid #ccc;
  border-radius: 2px;
  display: inline-block;
  position: relative;
  z-index: 10;
  vertical-align: bottom;
  pointer-events: none;
  > i {
    content: "";
    position: absolute;
    top: 45%;
    left: 50%;
    border: 2px solid #fff;
    border-top: 0;
    border-left: 0;
    transform: translate(-50%, -50%) rotate(45deg) scale(0);
  }
}

.checkbox-text {
  margin-left: 1px;
  font-size: 15px;
  color: #666;
  pointer-events: none;
}

.checkbox-circle {
  .checkbox-icon {
    border-radius: 50%;
  }
}
